<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Aboutuscss.css">
    
</head>

<body>
    <nav>
        <div class="topnav">
            <a class="active" href="home1.html">Home</a>
            <a href="#contact">Contact</a>
            <a href="Aboutus.html">About</a>
            <a href="Login.html">Login</a>
            <a href="SignUp.html">SignIn</a>
        </div>
    </nav>
    <br>
    <br>

    <div class="wrapper">
        <h1>Our team</h1>
        <div class="team">
            <div class="team_member">
                <div class="team_img">
                    <img src="" alt="">
                </div>
                <h3>Sushilkumar</h3>
                <p class="role">Student</p>
                <p>Student of Pune Instiute of Computer technology!</p>
            </div>
            <div class="team_member">
                <div class="team_img">
                    <img src="" alt="">
                </div>
                <h3>Omkar</h3>
                <p class="role">Student</p>
                <p>Student of Pune Instiute of Computer technology!</p>
            </div>
            <div class="team_member">
                <div class="team_img">
                    <img src="" alt="">
                </div>
                <h3>Akash</h3>
                <p class="role">Student</p>
                <p>Student of Pune Instiute of Computer technology!</p>
            </div>
            <div class="team_member">
                <div class="team_img">
                    <img src="" alt="">
                </div>
                <h3>Shreyash</h3>
                <p class="role">Student</p>
                <p>Student of Pune Instiute of Computer technology!</p>
            </div>
        </div>
    </div>
    
</body>
</html>